[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/api/nominatim/*"
  to = "https://nominatim.openstreetmap.org/:splat"
  status = 200
  force = true
